html, body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#saveStatus1, #saveStatus2{
	visibility: hidden;
}

#authorSearchContainer {
	position: absolute;
	background-color: white;
	z-index: 2;
}

#authorSearchContainer ul {
	display: none;
	list-style: none;
	border: 1px solid black;
}

.cardWrapper {
	padding: 0px;
	margin: 8px 0px 8px 0px;
}

.ui-state-active {
	background-color: lightgrey;
}

.ui-helper-hidden-accessible{
    display:none !important;
}

#quote-display {
	margin-bottom: 40px;
}

.card-text {
	text-align: right;
}

.cardFooter {
	text-align: right;
}

.thumbsImg {
	max-height: 16px;
	cursor: pointer;
	margin: 0px 8px 0px 8px;
}

.wikiLink {
	float: left;
}

footer {
	width: 100%;
	height: 30px;
	background-color: lightgrey;
	text-align: right;
}

footer p {
	margin: 0px 40px;
	color: white;
}