html, body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#authorSearchContainer {
	position: absolute;
	background-color: white;
}

#authorSearchContainer ul {
	display: none;
	list-style: none;
	border: 1px solid black;
}

.ui-state-active {
	background-color: lightgrey;
}